# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.venv/

# Logs
logs/

# OS files
.DS_Store

# Vector DB storage
embeddings/vector_store/
src/debug/
# Temporary / debug scripts
test_*.py
list_*.py
